<header>

  <table> <!--esto es la tabla -->
    <tr> <!--esto es una fila-->
    
    <td class="columnader">
        
        <a href=" " class="colorblanco" ><i class="fa-solid fa-right-to-bracket"> </i>  Iniciar Sesion </a>
    
    <a href="https://api.whatsapp.com/send?phone=8672749630&text=Hola, Nececito mas informacion! " target="_blank"  class="colorblanco"> <i class="fa-brands fa-teamspeak"></i>  Contacto </a>
  
    </td>
        <!--esto es una columna-->
    
    </tr>
</table>

</header>
