    .colorblanco{
        color: rgb(255, 255, 255);
        }
        
        .colorrojo{
            color: red;
        }
        
        
        .logo
        {
            width: 45px;
            float: left;
            padding: 1px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 15px;
        }
        
        table{
            width: 100%;
          
        }
        
       
        
        header
        {
            background-color: black;
        }
        
        a
        {font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        text-transform:uppercase;
        padding-top: 1px;
        padding-bottom: 10px;
        margin-left: 10px;}
        
        .bold
        {
            font-weight: bold;
        }
        
        
        .columnader
        {
                float:none;
                padding-top: 20px;
                padding-bottom: 20px;
               padding-left: 70%;        
        }
        
        tr
        {float: none;
        
        };

        a:hover{
        color:#ffff1a
        }

        .space
        {
            padding-left: 20px;
        }