body{
    background-color: yellow;
padding-top: 2%;
display: block;
align-items: center;
align-content: center;
    

}
h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.form{
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
}

email{
    display: block;
    text-align: center;
font-style: italic;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 26px;
align-items: center;
}

label{
    display: block;
    text-align: center;
font-weight: bold;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
}