
<div class="card" style="width: 30rem;">
    <table style="width:100%">
        <th>
            <tr>
    <img src="../../../../../assets/img/cpu/Ryzen3 3200g.jpg" class="card-img-top" >
    <div class="card-body">
        <h4>  Procesador AMD Ryzen 3 3200G con Gráficos Radeon Vega 8, S-AM4, 3.60GHz, Quad-Core, 4MB L3, con Disipador Wraith Stealth</h4>
        <p>Caracteristicas</p>
      <ul>
        <li>Familia del procesador: <b>AMD RYZEN 3</b></li>
    <LI>Modelo del procesador: <b>3200G</b></LI>
    <li>Frecuencia del procesador: <b>3.6 Ghz</b></li>  
    <li>Socket del procesador: <b>Socket AM4</b></li>
        <li>Numero de núcleos: <b>4</b></li>
</ul>

    </div>
</tr>


</th>
</table>
</div>
