
<div class="h1bg">
  <h1> PROCESADORES</h1>
   </div>

   <!-- texto  !-->

   <div>
    <p>
      Esta es nuestra mejor recomendacion en procesadores para tu computador <br>
      Sera el top 3 entre las marcas "AMD" e "INTEL" en cuestion de calidad/precio. 
    </p>
   </div>

   <!-- LOGO  amd !-->

      <img class="logo" src="../../../../../assets/img/AMD.png" style="align-content: center;">
    

   <!--  acordeones e informacion!-->

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         AMD RYZEN 5 3600 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
<img src="../../../../../assets/img/cpu/AMD Ryzen 5 3600.jpg">  
<p>Procesador AMD Ryzen 5 3600 / 6 Core / 12 Thread / 3.6GHz / 4.2GHz Boost / TDP 65W / Wraith Stealth (Requiere Tarjeta de Video) / 100-100000031BOX</p>      
         <ul>
          <li> <b>Numero de Nucleos:</b> 6 </li>
          <li> <b>Numero de Hilos:</b> 12 </li>
          <li> <b>Reloj Base:</b> 3.6 Ghz </li>
          <li> <b>Reloj Max:</b> 4.2 Ghz   </li>
          <li> <b>Cache L2 </b> 2MB </li>
          <li> <b>Cache L3:</b> 32MB </li>
          <li> <b>Version de PCI Express</b> PCIe 4.0x16 </li>
          <li> <b>Velocidad Maxima de Memoria:</b> 3200 MHz </li>
          <li> <b>Tipo de Memoria</b> DDR4 </li>
         </ul>
      </div>
    </div>
    </div>

    <div>

    </div>


        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              RYZEN 3 3300X
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <img src="../../../../../assets/img/cpu/Ryzen 3 3300x.jpg">        
              <p>
                  Procesador AMD Ryzen 3 3300X / 4 Core / 8 Thread / 4.3GHz Boost / Wraith Stealth / (Requiere Tarjeta de Video) / 100-100000159BOX
              </p>
              <ul>
               <li> <b>Numero de Nucleos:</b> 4 </li>
               <li> <b>Numero de Hilos:</b> 8 </li>
               <li> <b>Reloj Base:</b> 3.8 Ghz </li>
               <li> <b>Reloj Max:</b> 4.3 Ghz   </li>
               <li> <b>Cache L2 </b> 2MB </li>
               <li> <b>Cache L3:</b> 16MB </li>
               <li> <b>Version de PCI Express</b> PCIe 4.0 </li>
               <li> <b>Velocidad Maxima de Memoria:</b> 3200 MHz </li>
               <li> <b>Tipo de Memoria</b> DDR4 </li>
              </ul>

           </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                RYZEN 3 3200G
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <img src="../../../../../assets/img/cpu/Ryzen 3 3300x.jpg">        
                <p>
                  PROCESADOR AMD RYZEN 3 3200G APU 3.6GHZ / 4GHZ / 4CORE / AM4 / Con disipador Wraith Stealth / Radeon VEGA 8 Integrada / YD3200C5FHBOX                  </p>
                <ul>
                 <li> <b>Numero de Nucleos de CPU:</b> 4 </li>
                 <li> <b>Numero de Nucleos:</b> 4 </li>
                 <li> <b>Numero de Hilos:</b> 8 </li>
                 <li> <b>Reloj Base:</b> 3.6 Ghz </li>
                 <li> <b>Reloj Max:</b> 4 Ghz   </li>
                 <li> <b>Cache L1: </b> 384KB </li>
                 <li> <b>Cache L2: </b> 2MB </li>
                 <li> <b>Cache L3: </b> 2MB </li>
                 <li> <b>Version de PCI Express:</b> PCIe 3.0 x8 </li>
                 <li> <b>Velocidad Maxima de Memoria:</b> 2933 MHz </li>
                 <li> <b>Tipo de Memoria:</b> DDR4 </li>
                 <li> <b>Canales de Memoria:</b> 2 </li>
                </ul>

             </div>
            </div>  

            </div>



            <!-- intel !-->
            <br><br>
            <div>
              <p>
              En el caso de INTEL:                <br> </p>
             </div>
          
             <!-- LOGO  amd !-->
          
                <img class="logo" src="../../../../../assets/img/intel logo.png" style="align-content: center;">
              
          
             <!--  acordeones e informacion!-->
          
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                   Intel Core i5-10400F 
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
          <img src="../../../../../assets/img/cpu/Intel Core i5-10400F.webp">  
          <p>Procesador Intel Core i5-10400F 2.90GHz / 4.30GHz / 6 Nucleos / 12 Hilos / Socket LGA1200 - Intel 10TH Generación / REQUIERE TARJETA DE VÍDEO / BX8070110400F

          </p>      
                   <ul>
                    <li> <b>Numero de Nucleos:</b> 6 </li>
                    <li> <b>Numero de Hilos:</b> 12 </li>
                    <li> <b>Reloj Base:</b> 2.9 Ghz </li>
                    <li> <b>Reloj Max:</b> 4.3 Ghz   </li>
                    <li> <b>Cache</b> 12MB </li>
                    <li> <b>Version de PCI Express</b> PCIe 3.0 </li>
                    <li> <b>Tamaño Máximo de Memoria:</b> 128 GB </li>
                    <li> <b>Tipo de Memoria</b> DDR4-2666 </li>
                   </ul>
                </div>
              </div>
              </div>
          
              <div>
          
              </div>
          
          
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Intel Core i5-13600K
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
          
                        <img src="../../../../../assets/img/cpu/Intel Core i5-13600K.jpg">        
                        <p>
                          Procesador Intel Core i5-13600KF 5.10 GHz / 6 Nucleos Alto Rendimiento / 8 Nucleos Alta Eficiencia / 20 Threads / Socket LGA1700 - Intel 13TH Generación / REQUIERE DISIPADOR / REQUIERE TARJETA DE VIDEO / BX8071513600KF </p>
                        <ul>
                         <li> <b>Numero de Nucleos:</b> 14 </li>
                         <li> <b>Numero de Hilos:</b> 20 </li>
                         <li> <b>Reloj Base:</b> 3.9 Ghz </li>
                         <li> <b>Reloj Max:</b> 5.1 Ghz   </li>
                         <li> <b>Caché </b> 20MB </li>
                         <li> <b>Caché L2:</b> 16MB </li>
                         <li> <b>Version de PCI Express</b> PCIe 4.0 </li>
                         <li> <b>Velocidad Maxima de Memoria:</b> 128 GB </li>
                         <li> <b>Tipo de Memoria</b> Up to DDR5 5600MT/s | Up to DDR4 3200MT/s</li>
                        </ul>
          
                     </div>
                    </div>
          
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Intel Core i5 9400F
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
          
                          <img src="../../../../../assets/img/cpu/Intel Core i5-9400F.jpg">        
                          <p>
                            PROCESADOR AMD RYZEN 3 3200G APU 3.6GHZ / 4GHZ / 4CORE / AM4 / Con disipador Wraith Stealth / Radeon VEGA 8 Integrada / YD3200C5FHBOX                  </p>
                          <ul>
                            <li> <b>Numero de Nucleos:</b> 6 </li>
                            <li> <b>Numero de Hilos:</b> 6 </li>
                            <li> <b>Reloj Base:</b> 2.9 Ghz </li>
                            <li> <b>Reloj Max:</b> 4.1 Ghz   </li>
                            <li> <b>Caché </b> 9MB </li>
                            <li> <b>Version de PCI Express</b> PCIe 3.0 </li>
                            <li> <b>Velocidad Maxima de Memoria:</b> 128 GB </li>
                          </ul>
          
                       </div>
                      </div>  
          
                      </div>

