<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a [routerLink]="['inicio']" class="nav-link scrollto active" >Inicio</a></li>
          <li><a [routerLink]="['nosotros']"class="nav-link scrollto" >Nosotros</a></li>
          <li class="dropdown"><a [routerLink]="['servicios']"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a [routerLink]="['mantenimiento']">Mantenimiento de PC'S</a></li>
              <li class="dropdown"><a><span>Componentes para PC</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a  [routerLink]="['procesadores']">Procesadores</a></li>
                  <li><a  [routerLink]="['tarjetas graficas']">Tarjetas Graficas</a></li>
                </ul>
              </li>
              <li><a [routerLink]="['cotizaciones']">Cotizaciones de Ensambles</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" [routerLink]="['contacto']">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->