.h1bg{
    background-color: rgb(63, 50, 88);
    margin-bottom: 40px;
    margin-top: 3px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-position-y:center;
    background-image: url(../../../../assets/img/about-img.jpg);
    background-position: left 10%;
    background-blend-mode:luminosity;
}

h1{
    font-family: fjalla;
    font-weight: 600;
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    }

    p{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-align: center;
        margin-left: 22px;
        
    }

    .text{ font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-align: center;
        margin-left: 22px;
        margin-right: 22px;
        font-style: italic;
    }

h2{
    font-family: fjalla;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

h3{
    font-family: fjalla;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

img{

    width: 60%;
   margin-left: auto;
   margin-right: auto;
   display: block;
    margin-bottom: 50px;
}
    