<div>
    <h1 class="h1bg">
MANTENIMIENTO
    </h1>
</div>
<div>
    <p>
        Contamos con los siguientes tipos de mantenimientos:
    </p>

    <h2>Mantenimiento Preventivo</h2>

    <img src="../../../../assets/img/preventivo.webp">

    <p class="text">El mantenimiento preventivo ocurre de modo cíclico y programado, independiente de la condición del activo y con el objetivo de evitar averías y minimizar las consecuencias de colapsos de equipos. La frecuencia es definida por el gestor de mantenimiento con base en una valoración de la vida útil del equipo y en las recomendaciones del fabricante. Ejemplos de acciones de mantenimiento preventivo incluyen revisiones periódicas, inspecciones, limpieza y lubricación de piezas.
    </p>

    <h3>Ventajas:</h3>
    <p class="text">Este tipo de mantenimiento es imprescindible en los equipos esenciales al funcionamiento normal de la empresa. Es más, cuanto mayor es el riesgo asociado a una determinada avería, mayor es la necesidad de mantenimiento preventivo para aumentar la vida útil del activo y reducir el downtime no planificado.

    </p>

    <h3>Desventajas:</h3>
    <p class="text">Una vez que no se basan en la condición real de los equipos, los planes de mantenimiento preventivo pueden, a veces, ser ineficientes y resultar en acciones de mantenimiento (incluyendo sustitución de piezas) innecesarias y que cuestan tiempo y dinero.
    </p>
</div>