<div>
    <img src="../../../assets/img/nosotros/team.png" class="center">
    
</div>

<!-- quienes somos  -->
<div class="esp">
   <br>
    <h1>¿QUIENES SOMOS?</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis hendrerit euismod. Donec lacinia velit sit amet tincidunt molestie. Mauris semper consectetur neque vitae facilisis. Sed in elementum nulla. Aenean et pulvinar erat. Maecenas placerat tristique urna sit amet efficitur. Proin odio eros, euismod id condimentum vitae, ultrices a leo. Nullam tempor arcu lacus, quis posuere quam ornare eu. Phasellus nec nisi eu ante vehicula luctus. Vestibulum finibus magna quis diam tristique, quis fermentum est facilisis. Sed et erat in magna porta bibendum. Ut venenatis rhoncus massa lacinia lobortis. Fusce orci dui, tempor id orci vitae, feugiat iaculis libero. Sed iaculis felis sit amet risus consectetur aliquet.
        Ut ultricies, libero et facilisis rhoncus, felis nisl tristique sapien, nec imperdiet lorem justo nec dolor. Cras non fringilla risus. Nam non rutrum libero. Mauris vehicula ultrices diam, et sagittis enim ultrices id. Sed et lacus molestie, rhoncus enim et, fermentum elit. Nam at tincidunt enim, et sodales nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
 </div>