div{
    padding-top: 300px;
    padding-bottom: 300px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(../../../../assets/img/mantenimiento.png);
}

p{
    font-family: josefin;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

a{
    font-family: josefin;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    color: red;
    font-display: none;
}