 <!-- HEADER TITLE !-->
 <div class="h1bg">
<h1> TARJETAS GRAFICAS</h1>
 </div>


 <!-- CONTENIDO!-->

 <!-- primero !-->
 <div>
    <p>En esta seccion te mostramos el top de las mejores tarjetas graficas en el mercado actual en cuestion y relacion
        <br> a la calidad/precio, sus especificaciones y donde puedas adquirirlas
    </p>

<!-- LOGO -->

<img src="../../../../../assets/img/NVIDIA.png" style="display: block;" width="50%" height="100%">

<h2>
    NVIDIA GeForce GTX 1650
</h2>
<br>

    <img src="../../../../../assets/img/gpu/8. Nvidia GeForce GTX 1650.jpg">

  <ul>
    <li>Memoria: <b> 4GB</b></li>
<li>Tipo de memoria : <b>GDDR5</b></li>
<li>Conectores: <b>2 (1x HDMI 1x DisplayPort)</b></li>  
<li>Consumo de energia <b>75 Watts</b></li>
    <li>Costo <b>$149 Dolares</b></li>
</ul>
</div>

<div>
    <h2>
        NVIDIA GeForce <br>
        GTX 1660 SUPER
    </h2>
    <br>
    
        <img src="../../../../../assets/img/gpu/7. Nvidia GeForce GTX 1660 Super.jpg">
    
      <ul>
        <li>Memoria: <b> 4GB</b></li>
    <li>Tipo de memoria : <b>GDDR5</b></li>
    <li>Conectores: <b>2 (1x HDMI 1x DisplayPort)</b></li>  
    <li>Consumo de energia <b>75 Watts</b></li>
        <li>Costo <b>$149 Dolares</b></li>
    </ul>
    </div>

    <div>
        <h2>
            NVIDIA GeForce <br>
            RTX 3060
        </h2>
        <br>
        
            <img src="../../../../../assets/img/gpu/5. Nvidia GeForce RTX 3060.jpg">
        
          <ul>
            <li>Memoria: <b> 8GB</b></li>
        <li>Tipo de memoria : <b>GDDR6</b></li>
        <li>Conectores: <b>2 (1x HDMI (Support 4k 120hz as specified in HDMI 2.1) 3x DisplayPort)</b></li>  
        <li>Consumo de energia <b>150 Watts</b></li>
            <li>Costo <b>$370 Dolares</b></li>
        </ul>
        </div>

        <!--  amd !-->

<!-- LOGO -->

<img src="../../../../../assets/img/NVIDIA.png" style="display: block;" width="50%" height="100%">

<h2>
    NVIDIA GeForce GTX 1650
</h2>
<br>

    <img src="../../../../../assets/img/gpu/8. Nvidia GeForce GTX 1650.jpg">

  <ul>
    <li>Memoria: <b> 4GB</b></li>
<li>Tipo de memoria : <b>GDDR5</b></li>
<li>Conectores: <b>2 (1x HDMI 1x DisplayPort)</b></li>  
<li>Consumo de energia <b>75 Watts</b></li>
    <li>Costo <b>$149 Dolares</b></li>
</ul>


<div>
    <h2>
        NVIDIA GeForce <br>
        GTX 1660 SUPER
    </h2>
    <br>
    
        <img src="../../../../../assets/img/gpu/7. Nvidia GeForce GTX 1660 Super.jpg">
    
      <ul>
        <li>Memoria: <b> 4GB</b></li>
    <li>Tipo de memoria : <b>GDDR5</b></li>
    <li>Conectores: <b>2 (1x HDMI 1x DisplayPort)</b></li>  
    <li>Consumo de energia <b>75 Watts</b></li>
        <li>Costo <b>$149 Dolares</b></li>
    </ul>
    </div>

    <div>
        <h2>
            NVIDIA GeForce <br>
            RTX 3060
        </h2>
        <br>
        
            <img src="../../../../../assets/img/gpu/5. Nvidia GeForce RTX 3060.jpg">
        
          <ul>
            <li>Memoria: <b> 8GB</b></li>
        <li>Tipo de memoria : <b>GDDR6</b></li>
        <li>Conectores: <b>2 (1x HDMI (Support 4k 120hz as specified in HDMI 2.1) 3x DisplayPort)</b></li>  
        <li>Consumo de energia <b>150 Watts</b></li>
            <li>Costo <b>$370 Dolares</b></li>
        </ul>
        </div>

<!-- TIENDAS!-->
<body>
<table>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ebay.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/mercadolibre.png" width="100%"> </a>
        </tr>
    </th>
    </table>
    <table>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/cyberpuerta.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/amazon.png" width="100%"> </a>
        </tr>
    </th>
</table>
</body>

<!-- LINEA  -->
<div class="divyellow">
</div>

<div class="divw">
</div>