 <!-- HEADER TITLE !-->
 <div class="h1bg">
<h1> TARJETAS GRAFICAS</h1>
 </div>

 <!-- LOGO -->

 <img src="../../../../../assets/img/NVIDIA.png" style="display: block;" width="50%" height="100%">

 <!-- CONTENIDO!-->
 <div>
    <p>En esta seccion te mostramos el top de las mejores tarjetas graficas en el mercado actual en cuestion y relacion
        <br> a la calidad/precio, sus especificaciones y donde puedas adquirirlas
    </p>
<h2>
    NVIDIA GeForce GTX 1650
</h2>
<br>

    <img src="../../../../../assets/img/gpu/8. Nvidia GeForce GTX 1650.jpg">

  <ul>
    <li>Familia del procesador: <b>AMD RYZEN 3</b></li>
<li>Modelo del procesador: <b>3200G</b></li>
<li>Frecuencia del procesador: <b>3.6 Ghz</b></li>  
<li>Socket del procesador: <b>Socket AM4</b></li>
    <li>Numero de núcleos: <b>4</b></li>
</ul>
</div>

<!-- TIENDAS!-->
<body>
<table>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
    <th>
        <tr><a href="https://www.cyberpuerta.mx/Computo-Hardware/Componentes/Tarjetas-de-Video/Tarjeta-de-Video-Zotac-NVIDIA-GeForce-GTX-1650-AMP-Core-4GB-128-bit-GDDR6-PCI-Express-3-0.html"> <img src="../../../../../assets/img/tiendas/ddtech.png" width="100%"> </a>
        </tr>
    </th>
</table>
</body>

<!-- LINEA  -->
<div class="divyellow">
</div>

<div class="divw">
</div>