.backinicio{
    background-color: rgb(240, 202, 34);
}

h1{
    font-size: 70px;
    color: black;
    text-align: left;
    font-weight: bold;
}

p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
text-align: left;
}