<div>
 <body class="backinicio">

<h2>
Toda la informacion  
para tu computador en 
</h2> <h1>ONE CLICK!</h1>

 </body>
<!-- segundo -->
 <body class="mant">

    <h1 class="h1t">Mantenimiento</h1>

    <p>Contamos con el mantenimiento preventivo para evitar que tu computador sufra daños drasticos y alargar su uso </p>

 </body>

 <body class="comp">

    <h1 class="h1t">Componentes</h1>

    <p>Tambien somos expertos en componentes para la pc de tus sueños, contamos con lo cantidad precio para cada persona en cuestion de informacion!
    </p>

 </body>
</div>